.filterBarContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.breadCrumb{
  display: flex;
  gap: 1rem;
}

.linkInactive{
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
  color: #8C8C8C;
}

.linkSeparator{
  color:#8C8C8C;
}

.linkActive{
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.filterDropDown {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.filterLabel {
  font-size: 1rem;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 5%;
}

.chevron {
  padding-left: 0.5rem;
}

.dropDownSelect {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.orderDropDown {
  display: flex;
  margin-left: 2rem;
}

.orderSelect {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  font-size: 1rem;
  background: #fff;
  color: #888;
  max-width: 190px;
  box-sizing: border-box;
}

@media(max-width: 425px){
  .filterBarContainer{
    flex-direction: column;
  }
}