.container{
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    gap: 4rem;
}

.title{
    font-size: 1.688rem;
    font-weight: 800;
    line-height: 30px;
    color: #76B043;
}

.cardContainer{
    display: flex;
}



