.controlContainer{
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 140px;
    height: 80px;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    background-color: #FDB913;
    cursor: pointer;
    border: none;
}

.text{
    font-size: 1rem;
    font-weight: 800;
    line-height: 12px;
    color: #000000;
}

