.paginationContainer{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.button{
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid #C8C8C8;
    background-color: #FFFFFF;
}

