.card {
  flex: 1 1 250px;
  width: 100%;
  max-width: 320px;
  padding: 1rem;
  position: relative;
}

.imageContainer {
  position: relative;
}

.img {
  width: 210px;
  height: 288px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.discountTag {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  font-size: 0.8rem;
}

.brand {
  font-size: 1rem;
  line-height: 1.125rem;
  color: #7d5a94;
  font-weight: 800;
  margin: 0;
}

.title {
  font-size: 1rem;
  margin: 0;
}


.cuotas {
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding-top: 1rem;
}

.valorCuota {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0;
}

.prices {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.precioTachado {
  text-decoration: line-through;
  color: gray;
}

.precioFinal {
  color: red;
  font-weight: bold;
}

.precioOriginal {
  text-align: left;
  font-size: 0.9rem;
}

.descuento {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: var(--color-primary);
  color: white;
  padding: 2px 6px;
  font-size: 0.75rem;
  border-radius: 4px;
}

.button {
  background-color: #fff;
  border: 2px solid #6cc46f;
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  width: 42px;
  height: 42px;
  margin-top: 0.5rem;
  display: flex;
}

.cartIcon {
  width: 28px;
  height: auto;
  color: #6cc46f;
}
